.content {
    padding-top: 70px;
}

/* About Section */
#header {
	/* color */
	color: #0F6EB9;

	/* Display and Box Model */
	margin-left: 15px;

	/* Text */
	font-size: 48px;
	font-weight: 500;
}

#header small {
	color: rgba(243,109,12, 1);
}

.about {
	/* Color */
	background-color: white;

	/* Display and Position */
	margin: 40px 0px 40px 0px;
	padding: 1px 10px 10px 10px;
}

.about-content {
	/* Color */
	color: #0F6EB9;

	/* Display and Box Model */
	padding: 30px 0px 30px 0px;
	text-align: center; /* Centering the inline block content. */
	width: 100%;

	/* Text */
	font-size: 17px;
}

.about-text {
	/* Display and Box Model */
	display: inline-block;
	margin: 0px 0px 0px 80px;
	max-width: 60%;
	text-align: center;
	vertical-align: middle;
}

.about-text p {
	margin: 0px; /* Override */
	text-align: justify;
}

.custom-thumbnail {
	height: 225px;
	margin-bottom: 90px;
	width: 285px;
}
/* End About Section */