<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="title" content="{{ page['title'] }}"/>
<meta name="description" content="{{ page['description'] }}"/>

<link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='img/favicon.png') }}"/>

<!-- Bootstrap -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='assets/bootstrap.min.css') }}"/>

<!-- jQuery -->
<link rel="stylesheet"
      href="{{ url_for('static', filename='assets/jquery.min.js') }}"/>

<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli"/>
