<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'core/header.html' %}
    <!-- CSS -->
    <link href="{{ url_for('static', filename='style/core/navbar.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='style/core/footer.css') }}"
          rel="stylesheet"/>
    <link href="{{ url_for('static', filename='style/main.css') }}"
          rel="stylesheet"/>
  </head>
  <body>
    {% include 'core/navbar.html' %}
    <div class="content">{% block content %}{% endblock %}</div>
    <footer>
      {% include 'core/footer.html' %}
    </footer>
  </body>
</html>
