<nav class="navbar navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span id="logo">
        <img height=64px width=72px alt="logo.png"
             src="{{ url_for('static', filename='img/logo.png') }}"/>
      </span>
      <a class="navbar-brand custom-brand" href="/">
        <span class="title">{{ core['title'] }}</span>
        <p>{{ core['subtitle'] }}</p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% for pg in pages %}
          {% if pg['path'] == page['path'] %}
            <li class="active"><a href="{{ pg['path'] }}">{{ pg['name'] }}</li>
          {% else %}
            <li><a href="{{ pg['path'] }}">{{ pg['name'] }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
